<div class="devise-container">
	<h2><%= t("form.investment.title") %></h2>
	<%= simple_form_for([@investment]) do |f| %>
		<%= f.simple_fields_for :project do |builder| %>
			<%= render 'project_fields', f: builder %>
		<% end %>
		<table class='table'>
			<thead>
				<tr>
					<th scope="col" width="25%">Amount</th>
					<th scope="col" width="30%">Deadline</th>
					<th scope="col" width="35%">Task</th>
					<th scope="col" width="10%">Remove</th>
				</tr>
			</thead>
			<tbody class='installment'>
				<%= f.simple_fields_for :installments do |builder| %>
			    	<%= render 'installment_fields', f: builder %>
			 	<% end %>
			</tbody>
		</table> 
		<%= link_to_add_association 'Add installment', f, :installments, class: 'btn btn-success', data: { association_insertion_node: '.installment', association_insertion_method: :append } %>
		<%= f.submit t("form.save"), class: "btn btn-success"%>
	<% end %>
	<br>
</div>
