  <br>

<%= simple_form_for([@investment]) do |f| %>

<br>

<!-- FORM FOR PROJECT -->
<%= f.simple_fields_for :project do |project| %>
<%= render 'project_fields', f: project %>
<% end %>

<br>

<!-- FORMS FOR CREATING 1 OR MORE INSTALLMENTS -->
<div class="white-dropshadow-card container">
	<div class="size-24 green-text">
		<%= t("form.investment.installment.title") %>
	</div>
	<table class='table'>
		<thead>
			<tr>
				<th class="col-sm-2"><%= t("form.investment.installment.amount") %></th>
				<th class="col-sm-3"><%= t("form.investment.installment.deadline") %></th>
				<th sclass="col-sm-1"><%= t("form.investment.installment.status") %></th>
				<th class="col-sm-4"><%= t("form.investment.installment.task") %></th>
				<th class="col-sm-1"></th>
			</tr>
		</thead>
		<tbody class='installment'>
			<%= f.simple_fields_for :installments do |builder| %>
			<%= render 'installment_fields', f: builder %>
			<% end %>
		</tbody>
	</table>

	<%= link_to_add_association t("form.investment.installment.add_button"), f, :installments, class: 'btn btn-success', data: { association_insertion_node: '.installment', association_insertion_method: :append } %>
</div>

<br>

<!-- FORM FOR INVESTMENT_TAG -->
<div class="white-dropshadow-card container">
	<div class="size-24 green-text">
		<%= t("form.investment.investment_tag.title") %>
	</div>
	<!-- Select all existing tags -->
	<div class="row">
		<div class="col-md-4"> <%= f.association :investment_tags, collection: current_user.organisation.investment_tags.all, label: "Existing Tags" %>
		</div>

		<!-- Will have new tags added -->
		<br>
		<div class="investment-tag">
		</div>

		<div class="col-md-2">
			<%= link_to_add_association t("form.investment.investment_tag.add_button"), f, :investment_tags, class: 'btn btn-success', data: { association_insertion_node: '.investment-tag' } %>
		</div>
	</div>
	<%= f.submit t("form.save"), class: "btn btn-success col-xs-12" %>
</div>

<br>
<% end %>
<br>

<%= content_for(:after_js) do %>
<script type="text/javascript">

	$(document).ready(function() {
		$('.organisation')
		.on('cocoon:before-insert', function() {
			$(".organisation_from_list").hide();
			$(".organisation a.add_fields").hide();
		})

		.on("cocoon:before-remove", function() {
			$(".organisation_from_list").show();
			$(".organisation a.add_fields").show();
		})
	});
</script>
<% end %>
