.flex-tab
  .tablinks{id: "active-tab", onclick: "openCity(event, 'active')"}= t("investments.index.table.tab.title_one")
  .tablinks{id: "completed-tab", onclick: "openCity(event, 'completed')"}= t("investments.index.table.tab.title_two")


= smart_listing_controls_for(:investments) do
  .filter.input-append
    = text_field_tag :filter, '', class: "search", placeholder: "Type name here", autocomplete: "off"
    %button.btn.disabled{type: "submit"}
      %span.glyphicon.glyphicon-search

- unless smart_listing.empty?

  .tabcontent{id: "active"}
    %table.table.table-hover.margin-center.dropshadow-around
      %thead.white-background.header-row-milestone
        %th.w-25= t("investments.index.table.first_column.title")
        %th.w-30= t("investments.index.table.second_column.title")
        %th.w-10= t("investments.index.table.third_column.title")
        %th.w-10= t("investments.index.table.fourth_column.title")
        %th.w-15= t("investments.index.table.fifth_column.title")
        %th.w-10{style: "text-align: center;"}= t("investments.index.table.sixth_column.title")
      %tbody.white-background.table-row-investment
        - smart_listing.collection.where(completed: false).each do |investment|
          %tr
            %td= investment.project.organisation.name.capitalize
            %td= link_to investment.project.name, investment_path(investment), class: "green-link-text"
            %td= nice_money(investment.forecasted_amount)
            %td= t("investments.index.table.fourth_column.content", installment_index: investment.next_installment.investment_index + 1, installment_count: investment.installments.count)
            %td
              .table-button-flex
                - if investment.next_installment.days_left < 0
                  .late= t("investments.index.table.fifth_column.content", days: investment.next_installment.days_left)
                - elsif investment.next_installment.days_left < 7
                  .almost-late= t("investments.index.table.fifth_column.content", days: investment.next_installment.days_left)
                - else
                  .div= t("investments.index.table.fifth_column.content", days: investment.next_installment.days_left)

            %td="four"

  .tabcontent{id: "completed"}
    %table.table
      %thead
        %th.col-md-3= "Name"
        %th.col-md-3= "Phone"
        %th.col-md-4= "Location"
        %th.col-md-2= "Wallet saldo"
      %tbody
        %tr
          %td= "ONE BIG BOI"
          %td= "two"
          %td="three"
          %td="four"
        %tr
          %td= "one"
          %td= "two"
          %td= "three"
          %td= "four"
        %tr
          %td= "one"
          %td= "two"
          %td= "three"
          %td= "four"
- else
  %p.warning No records!
