<div class="nested-fields">
	<%= f.input :name, label: 'Project Name' %>
    <%= f.input :organisation %>
    <%= f.input :main_contact %>
    <%= f.input :description %>
    <%= f.association :geos , include_blank: false, include_hidden: false %>
    <%= f.hint 'You can pick more than one neighborhood by holding the ctrl key and clicking.' %>
    <%= f.association :focus_area, include_blank: false, include_hidden: false %>
</div>