<div class="nested-fields">
	<%= f.input :name, label: t("form.investment.project.name") %>
    <%= f.input :organisation %>
    <%= f.input :main_contact %>
    <%= f.input :description %>
    <%= f.association :geos , include_blank: false, include_hidden: false %>
    <%= f.hint t("form.investment.project.hint") %>
    <%= f.association :focus_area, include_blank: false, include_hidden: false %>
</div>