<br>
<div class="white-info-parent-flex">
  <div class="container-home-info-box">
    <div class="white-info-child-box">
      <div class="big-number-green"> <%= current_user.organisation.completed_investments.count %> / <%= current_user.organisation.investments.count %></div>
      <div class="small-text-gray">  <%= t(".info_bar.title_left") %> </div>
    </div>
    <div class="white-info-child-box">
      <div class="big-number-green"><%= nice_money(current_user.organisation.amount_unlocked) %></div>
      <div class="small-text-gray"> <%= t(".info_bar.title_mid") %>  </div>
    </div>
    <div class="white-info-child-box">
      <div class="big-number-green"> <%= nice_money(current_user.organisation.amount_for_year) %></div>
      <div class="small-text-gray"> <%= t(".info_bar.title_right") %> </div>
    </div>
  </div>
</div>

<div class="mid-title-box">
  <div class="mid-title-flex">
    <div class="title-mid-home-page-text">
      <h3><%= t(".mid_section.title") %></h3>
    </div>
    <div class="mid-title-button-right grow">
      <%= link_to new_investment_path, { class: "mid-title-button-body" } do %>
      <%= t(".mid_section.button") %>
      <% end %>
    </div>
  </div>
</div>


<div class="flex-tab">
  <div id="ongoing-tab" class="tablinks" onclick="openCity(event, 'ongoing')"> <%= t(".table.tab.title_one") %></div>
  <div id="completed-tab" class="tablinks" onclick="openCity(event, 'completed')"><%= t(".table.tab.title_two") %></div>
</div>

<!-- Tab content -->
<div id="ongoing" class="tabcontent">
  <div class="ongoing-investments">
    <div class="table-container">
      <table class="table table-hover margin-center dropshadow-around">
        <thead>
          <tr class="white-background header-row-milestone">
            <th scope="col" width="25%"><div class="tablesorter-header-inner"> <%= t(".table.first_column.title") %><i class="fas fa-arrows-alt-v margin-left-auto"></i></div></th>
            <th scope="col" width="30%"><div class="tablesorter-header-inner"><%= t(".table.second_column.title") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
            <th scope="col" width="10%"><div class="tablesorter-header-inner"><%= t(".table.third_column.title") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
            <th scope="col" width="10%"><div class="tablesorter-header-inner"><%= t(".table.fourth_column.title") %><i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i></div></th>
            <th scope="col" width="15%"><div class="tablesorter-header-inner"><%= t(".table.fifth_column.title") %><i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i></div></th>
            <th scope="col" width="10%" style="text-align: center;"><%= t(".table.sixth_column.title") %></th>
          </tr>
        </thead>
      <tbody>
        <% @active_investments.each do |investment| %>
          <tr class="white-background table-row-investment" data-investment-id="<%= investment.id %>">
            <td><%= investment.project.ngo.capitalize %></td>
            <td>
              <%= link_to investment_path(investment), {class: "green-link-text"} do %>
              <%= investment.project.name %>
              <% end %>
            </td>
            <td><%= nice_money(investment.forecasted_amount) %></td>
            <td>
              <div> <%= t(".table.fourth_column.content", installment_index: investment.next_installment.investment_index + 1, installment_count: investment.installments.count) %> </div>
            </td>
            <td>
              <div class="table-button-flex">
                <% if investment.next_installment.days_left < 0 %>
                   <div class="late"><%= t(".table.fifth_column.content", days: investment.next_installment.days_left) %></div>
                <% elsif investment.next_installment.days_left < 7 %>
                  <div class="almost-late"><%= t(".table.fifth_column.content", days: investment.next_installment.days_left) %></div>
                <% else %>
                  <div><%= t(".table.fifth_column.content", days: investment.next_installment.days_left) %></div>
                <% end %>
                <%= link_to investment_path(investment), { class: "milestone-view-button-table" } do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              </div>
            </td>
          <td>
            <div class="table-button-flex">
              <%= link_to edit_project_path(investment.project), { class: "edit-investment-button-table" } do %>
              <%= t(".table.sixth_column.content_one") %>
              <% end %>
            </div>
          </td>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="completed" class="tabcontent">
  <% unless @completed_investments.blank? %>
  <div class="completed-investments">
    <div class="table-container">
      <table class="table table-hover margin-center dropshadow-around">
        <thead>
         <tr class="white-background header-row-milestone">
            <th scope="col" width="20%"><div class="tablesorter-header-inner"><%= t(".table.first_column.title") %><i class="fas fa-arrows-alt-v margin-left-auto"></i></div></th>
            <th scope="col" width="30%"><div class="tablesorter-header-inner"><%= t(".table.second_column.title") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
            <th scope="col" width="15%"><div class="tablesorter-header-inner"><%= t(".table.completed.third_column.title") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
            <th scope="col" width="15%"><div class="tablesorter-header-inner"><%= t(".table.completed.fourth_column.title") %><i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i></div></th>
            <th scope="col" width="20%" style="text-align: center;"><%= t(".table.completed.fifth_column.title") %></th>
          </tr>
        </thead>
        <tbody>
          <% @completed_investments.each do |investment| %>
          <tr class="white-background table-row-investment" data-investment-id="<%= investment.id %>">
            <td><%= investment.project.ngo.capitalize %></td>
            <td>
              <%= link_to investment_path(investment), {class: "green-link-text"} do %>
              <%= investment.project.name %>
              <% end %>
            </td>
            <td><%= nice_money(investment.forecasted_amount) %></td>
            <td >
              <div class="completed-icon"><%= t(".table.completed.fourth_column.content") %></div>
            </td>
            <td>
              <div class="table-button-flex">
                <%= link_to investment_path(investment), { class: "edit-investment-button-table button-appear-hover" } do %>
                <%= t(".table.completed.fifth_column.content_one") %>
                <% end %>
                <%= link_to edit_project_path(investment.project), { class: "edit-investment-button-table button-appear-hover" } do %>
                  <%= t(".table.completed.fifth_column.content_two") %>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">

    $("table").tablesorter();
  function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  document.getElementById("ongoing-tab").click();

</script>
<% end %>
