<br>
<div class="row">
  <div id="investment_count_home" class="col-sm-4 margin-top-bottom-6">
    <%= render partial: "/partials/info-box/investment_count_box" %>
  </div>
  <div id="unlocked-amount" class="col-sm-4 margin-top-bottom-6">
    <%= render partial: "/partials/info-box/total_unlocked_box" %>
  </div>
  <div id="forecasted-amount" class="col-sm-4 margin-top-bottom-6">
    <%= render partial: "/partials/info-box/forecasted_amount_box" %>
  </div>
</div>

<div class="row margin-top-bottom-6">  
  <div class="col-sm-6 col-sm-push-6 left-end-flex-md-up">
    <%= link_to new_investment_path, { class: "btn btn-success" } do %>
    <%= t(".mid_section.button") .upcase %>
    <% end %>
  </div>
  <div class="col-sm-6 size-24 col-sm-pull-6">
    <%= t(".mid_section.title").upcase %>
  </div>
</div>

  <ul class="flex-tab nav nav-pills">
    <%=  link_to t(".table.tab.title_one"), active_investments_path, remote: true, method: :post,id: "active-tab", class: "tablinks active", :onclick =>  'openTab(event, "active")' %>
    <%=  link_to t(".table.tab.title_two"), completed_investments_path, remote: true, method: :post, id: "completed-tab", class: "tablinks inactive", :onclick =>  'openTab(event, "completed")'%>
  </ul>

<div id="index-tables">
  <%= render partial: "index_active_table"  %>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">
  // Hides on load the advanced search -- table sorter row
  $(document).ready(function() {
    $('tr[role="search"]').hide();
  });

  // Toggles the advanced search button to show -- table sorter row
  $("button").click(function(){
      $('tr[role="search"]').toggle()
  });


  function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    // document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Selects the tab of active investments on load
  // document.getElementById("active-tab").click();


  // Defines the search bar of the active investment table
  function searchActive() {
  // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("searchBarActive");
    filter = input.value.toUpperCase();
    table = document.getElementById("activeTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      td2 = tr[i].getElementsByTagName("td")[1];
      if (td || td2) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1 ) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  // Defines the search bar of the completed investment table
  function searchCompleted() {
  // Declare variables
    var input, filter, table, tr, td, i;
    input = document.getElementById("searchBarCompleted");
    filter = input.value.toUpperCase();
    table = document.getElementById("completedTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      td2 = tr[i].getElementsByTagName("td")[1];
      if (td || td2) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1 || td2.innerHTML.toUpperCase().indexOf(filter) > -1 ) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }



  // call the tablesorter plugin
  $('table').tablesorter();

</script>
<% end %>
