  <div class="row margin-top-bottom-6">
    <div class="col-sm-6 size-32">
      <div>
        <%= @investment.project.name %>
      </div>
    <div class="size-18" >
      <i><%= @investment.project.organisation.name %></i> - <%= @investment.project.organisation.charity_number %>
    </div>
    <div class="lb-md">
      <% @investment.investment_tags.each do |tag| %> 
      <div class="label label-success margin-4"><%= tag.name.capitalize %>
      </div>  
      <% end %>
    </div>
  </div>
  <div id="invest-show-info">
    <%= render partial: "/partials/invest_show_info", investment: @investment %>
  </div>
</div>

  <div id="invest-show-break-line">
      <%= render partial: "/partials/invest_show_break_line", investment: @investment %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover dropshadow-around">
      <thead>
        <tr class="white-background">
          <th class="col-sm-1">
            <div class="flex-space-between">
              <%= t(".table.first_column.title") %>
              <i class="fas fa-arrows-alt-v margin-left-auto"></i>
            </div>
          </th>
          <th class="col-sm-1">
            <div class="flex-space-between">
              <%= t(".table.second_column.title") %>
              <i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i>
            </div>
          </th>
          <th class="col-sm-1">
            <div class="flex-space-between">
              <%= t(".table.third_column.title") %>
              <i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i>
            </div>
          </th>
          <th class="col-sm-1">
            <div class="flex-space-between">
              <%= t(".table.fourth_column.title") %>
              <i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i>
            </div>
          </th>
          <th class="col-sm-3">
            <div class="flex-space-between"> 
              <%= t(".table.fifth_column.title") %>
              <i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i>
            </div>
          </th>
          <th class="col-sm-2">
            <div class="flex-space-around">
              <div class="header-table-button color-green"><i class="fas fa-lock-open"></i></div>
              <div class="header-table-button color-red"><i class="fas fa-times"></i></div>
              <div class="header-table-button color-yellow"><i class="fas fa-pencil-alt color-yellow"></i></div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @investment.installments_by_nearest_deadline.each_with_index do |installment,index|  %>
        <tr id="invest-show-table-<%= installment.id %>" class="white-background row-button-appear" data-installment-id="<%= installment.id %>" data-investment-id="<%= installment.investment.id %>">
          <td><%= t(".table.first_column.content", index: index + 1) %> </td>
          <% unless installment.rescinded? %>
            <% if installment.unlocked? %>
              <td><div class="table-status unlocked-background-color"><%= t(".table.second_column.content.status_one") %></div></td>
            <% else %>
              <td><div class="table-status locked-background-color" id="locked-button"><%= t(".table.second_column.content.status_two") %></div></td>
            <% end %>
          <% else %>
            <td><div class="table-status rescinded-background-color" ><%= t(".table.second_column.content.status_three") %></div></td>
          <% end %>

            <% if installment.days_left < 0 %>
              <td>
                <div class="late">
                  <%= t(".table.third_column.content", days: installment.days_left) %>
                </div>
              </td>
              <% elsif installment.days_left < 7 %>
              <td>
                <div class="almost-late">
                  <%= t(".table.third_column.content", days: installment.days_left) %>
                </div>
              </td>
            <% else %>
              <td><%= t(".table.third_column.content", days: installment.days_left) %></td>
            <% end %>
          <td><%=  nice_money(installment.amount) %></td>
          <td><%= installment.task %></td>
          <td>
            <div class="flex-space-around">
              <%= link_to unlock_installment_path(id: installment.id, page: 'show'), :remote => true, :method => :post, :class => "unlock-button button button-appear-hover" do %>
              <i class="fas fa-lock-open"></i>
              <% end %>
              <%= link_to rescind_installment_path(id: installment.id, page: 'show'), :remote => true, :method => :post, :class => "rescind-button button button-appear-hover" do %>
              <i class="fas fa-times"></i>
              <% end %>
              <%= link_to edit_investment_installment_path(installment.investment, installment), { class: "edit-button button button-appear-hover" } do %>
              <i class="fas fa-pencil-alt"></i>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= content_for(:after_js) do %>
  <script type="text/javascript">

    $("table").tablesorter();

  </script>
  <% end %>
