

<div class="white-info-parent-flex">
  <div class="container-invest-show-info-box">
    <div class="invest-show-white-info-name">
      <div class="flex-name-center"><%= @investment.project.name %> </div>
    </div>
    <div class="invest-show-white-info-child-box">
      <div class="invest-show-number-green" > <%= @investment.project.ngo %></div>
      <div class="invest-show-small-text-gray">   </div>
    </div>
    <div class="invest-show-white-info-child-box">
      <div class="invest-show-number-green"> <%= nice_money(@investment.forecasted_amount) %></div>
      <div class="invest-show-small-text-gray"> FY Forecasted </div>
    </div>
    <div id="unlocked-amount" class="invest-show-white-info-child-box">
      <%= render "total_unlocked", investment: @investment %>
    </div>
  </div>
</div>


<div class="mid-title-box">
  <div class="mid-title-flex">
    <div class="title-mid-invest-show-page-text">
      Investment Milestones
    </div>
    <div class="button-right">
    <%= link_to new_investment_milestone_path(@investment.id), { class: "btn btn-success" } do %>
    New Milestone
    <% end %>
    </div>
  </div>
</div>

<div class="invest-page-parent-flex">
  <div class="purple-child-box"></div>
  <div class="purple-child-box"></div>
  <div class="purple-child-box"></div>
</div>

<div class="table-container">
<table class="table table-hover margin-center dropshadow-around">
  <thead>
    <tr class="white-background header-row-milestone">
      <th scope="col" width="10%"><div class="tablesorter-header-inner"><i class="fas fa-arrows-alt-v margin-left-auto"></i></div></th>
      <th scope="col" width="15%"><div class="tablesorter-header-inner"> Unlocked?<i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
      <th scope="col" width="10%"><div class="tablesorter-header-inner"> Deadline<i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
      <th scope="col" width="15%"><div class="tablesorter-header-inner"> Amount<i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i></div></th>
      <th scope="col" width="35%"><div class="tablesorter-header-inner"> Task<i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
      <th scope="col" colspan="3" width="15%"></th>
    </tr>
  </thead>
  <tbody>
<% @investment.milestones_by_nearest_deadline.each_with_index do |milestone,index|  %>
    <tr id="<%= milestone.id %>" class="white-background table-row-milestone" data-milestone-id="<%= milestone.id %>" data-investment-id="<%= milestone.investment.id %>">
      <td>Milestone <%= index + 1 %> </td>
      <% if milestone.unlocked? %>
        <td><div class="unlocked-status-icon">unlocked</div></td>
        <% else %>
        <td><div class="locked-status-icon" id="locked-button">locked</div></td>
      <% end %>
      <td><%= milestone.days_left %> days</td>
      <td><%=  nice_money(milestone.amount) %></td>
      <td><%= milestone.task %></td>
      <td>
      <%= link_to unlock_milestone_path(id: milestone.id, page: 'show'),:remote => true, :method => :post, :class => "unlock-button-table button-appear-hover" do %>
        <i class="fas fa-check"></i>
      <% end %>
      <td><%= link_to decline_milestone_path(id: milestone.id), { class: "decline-button-table button-appear-hover" }, :remote => true, method: :post do %>
        <i class="fas fa-times"></i>
      <% end %>
      <td><%= link_to edit_investment_milestone_path(milestone.investment, milestone), { class: "edit-button-table button-appear-hover" } do %>
            <i class="fas fa-pencil-alt"></i><% end %></td>
    </tr>
      <% end %>
  </tbody>
</table>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">

  // $("table").tablesorter();

  // let unlockButtonsTable = document.getElementsByClassName('unlock-button-table');

  // for(let index = 0; index < unlockButtonsTable.length; index++) {
  //   let unlockButton = unlockButtonsTable[index];
  //   unlockButton.addEventListener("click", function(element){
  //     let milestoneId = element.target.closest(".table-row-milestone").getAttribute("data-milestone-id");
  //     let investmentId = element.target.closest(".table-row-milestone").getAttribute("data-investment-id");

  //     fetch("<%= unlock_milestone_path %>", {
  //       method: 'post',
  //       headers: {
  //         'X-Requested-With': 'XMLHttpRequest',
  //         'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
  //         'Content-Type': 'application/json',
  //       },
  //       credentials: "same-origin",
  //       body: JSON.stringify({
  //         id: milestoneId
  //       })
  //     })
  //     .then(function(response) {
  //       return response.json();
  //     })
  //     .then(function(data) {
  //       // if unlock didn't work -- don't delete it + show user message.
  //       document.getElementById("unlocked-amount").innerHTML = numeral(data.stats).format('$0,0[.]00');
  //       document.getElementById("unlocked-amount").innerHTML = numeral(data.stats).format('$0,0[.]00');
  //       console.log(data.stats);
  //     })
  //     .catch(function(e) {
  //       console.info("oops error", e)
  //       // something went wrong
  //     });
  //   });
  // };

  // let declineButtonsTable = document.getElementsByClassName('decline-button-table');
  // for(let index = 0; index < declineButtonsTable.length; index++) {
  //   let declineButton = declineButtonsTable[index];
  //   declineButton.addEventListener("click", function(element){
  //     let milestoneId = element.target.closest(".table-row-milestone").getAttribute("data-milestone-id");

  //     fetch("<%= decline_milestone_path %>", {
  //       method: 'post',
  //       headers: {
  //         'X-Requested-With': 'XMLHttpRequest',
  //         'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
  //         'Content-Type': 'application/json',
  //       },
  //       credentials: "same-origin",
  //       body: JSON.stringify({
  //         id: milestoneId
  //       })
  //     })
  //     .then(function(response) {
  //       return response.json();
  //     })
  //     .then(function(data) {
  //     })
  //     .catch(function(e) {
  //       console.info("oops error", e)
  //       // something went wrong
  //     });
  //   });
  // };

</script>
<% end %>
