<% @investment.milestones.each do |m| %>
<%= m.amount %>
<% end %>

<%= link_to  new_investment_milestone_path(@investment.id), { class: "btn btn-primary" } do %>
New Milestone
<% end %>

<div class="invest-page-parent-flex">
  <div class="purple-child-box"></div>
  <div class="purple-child-box"></div>
  <div class="purple-child-box"></div>
</div>

<% @investment.milestones_by_nearest_deadline.each_with_index do |milestone,index|  %>
<div class="invest-page-parent-card">
  <div class="invest-page-child-row">
    <div class="child-box border-bottom"><%= index + 1 %>rd Milestone</div>
  </div>
  <div class="invest-page-child-row">
    <div class="invest-page-child-box">
      <div class="days-left"><%= milestone.days_left %> days</div>
    </div>
    <div class="invest-page-child-box no-margin milestone-description">
      <h4> $<%=milestone.amount%> </h4>
    </div>
    <div class="invest-page-child-box description-text"><%= milestone.task %></div>
    <div class="buttons-flex">
      <div class="home-page-child-box">
        <div class="card-button unlock-button"><i class="fas fa-check"></i></div>
      </div>
      <div class="home-page-child-box">
        <div class="card-button decline-button"><i class="fas fa-times"></i></div>
      </div>
      <div class="home-page-child-box">
        <div class="card-button edit-button"><i class="fas fa-pencil-alt"></i></div>
      </div>
    </div>
  </div>
</div>
<% end %>
