
<h2><%= t("form.installment_title") %></h2>
  <%= simple_form_for([@investment,@milestone]) do |f| %>
  <%= f.input :amount, as: 'integer' %>
  <%= f.input :deadline, as: :date %>
  <%= f.input :task %>
  <%= f.submit t("form.save"), class: "btn btn-success"%>
<% end %>

