
<div class="devise-container container white-dropshadow-card">
  <h2>New Milestone</h2>
  <%= simple_form_for([@investment,@milestone]) do |f| %>
 <% if @milestone.errors.any? %>
    <div class="error-container">
      <ul>
        <% @milestone.errors.full_message each do |message|  %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :amount, as: 'integer' %>
  <%= f.input :deadline, as: :date %>
  <%= f.input :task %>
  <%= f.submit 'Save', class: "btn btn-success"%>

<% end %>

</div>
