
<h2>New Milestone</h2>
  <%= simple_form_for([@investment,@milestone]) do |f| %>
  <%= f.input :amount, as: 'integer' %>
  <%= f.input :deadline, as: :date %>
  <%= f.input :task %>
  <%= f.submit 'Save', class: "btn btn-success"%>
<% end %>

