<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
      <!-- Insert form here -->
      <div class="form-login">
       <h2>Milestone</h2>
       <p><strong>Project Name:</strong> <%= @milestone.investment.project.name %></p>
       <p><strong>NGO Name:</strong> <%= @milestone.investment.project.ngo %></p>
       <%= simple_form_for([@investment,@milestone]) do |f| %>
       <% if @milestone.errors.any? %>
       <div class="error-container">
        <ul>
          <% @milestone.errors.full_message each do |message|  %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.input :amount, as: 'integer' %>
      <%= f.input :deadline, as: :date %>
      <%= f.input :unlocked %>
      <%= f.input :accessible %>
      <%= f.input :task %>
      <%= f.submit 'Save', class: "btn btn-success"%>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>

