<div id="myDiv"></div>


<%= content_for(:after_js) do %>
<script>

  // unlocked amount per focus area
  let trace1  = {
    x: <%= raw @chart_focus_area_data[:unlocked].keys %> ,
    y: <%= raw @chart_focus_area_data[:unlocked].values %> ,
    name: 'unlocked amount',
    type: 'bar'
  };
  // unlocked amount per focus area
  let trace2 = {
    x: <%= raw @chart_focus_area_data[:locked].keys %>,
    y: <%= raw @chart_focus_area_data[:locked].values %>,
    name: 'locked amount',
    type: 'bar'
  };

  var data = [trace1, trace2];

  var layout = {barmode: 'stack'};

  Plotly.newPlot('myDiv', data, layout);
</script>
<% end %>
