<!-- COMPLETED TAB -->
<% unless @investments.blank? %>
<div class="table-container row">
  <table id="completedTable" class="table table-hover margin-center dropshadow-around">
    <thead>
     <tr class="white-background header-row-milestone">
        <th scope="col" width="20%"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.ngo") %><i class="fas fa-arrows-alt-v margin-left-auto"></i></div></th>
        <th scope="col" width="30%"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.project_name") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
        <th scope="col" width="15%"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.invested") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
        <th scope="col" width="15%"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.status") %><i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i></div></th>
        <th scope="col" width="20%" style="text-align: center;"><%= t("dashboard.table.header.edit") %></th>
      </tr>
    </thead>
    <tbody>
      <% @investments.each do |investment| %>
      <tr class="white-background table-row-investment" data-investment-id="<%= investment.id %>">
        <td><%= investment.project.organisation.name.capitalize %></td>
        <td>
          <%= link_to investment_path(investment), {class: "green-link-text"} do %>
          <%= investment.project.name %>
          <% end %>
        </td>
        <td><%= nice_money(investment.forecasted_amount) %></td>
        <td>
          <% if investment.completed? %>
          <div class="completed-icon"><%= t("dashboard.table.completed") %></div>
          <% else %>
          <div class="active-icon"><%= t("dashboard.table.active") %></div>
          <% end %>
        </td>
        <td>
          <div class="flex-space-around">
            <%= link_to investment_path(investment), { class: "edit-investment-button-table button-appear-hover" } do %>
            <%= t("dashboard.table.editable.investment") %>
            <% end %>
            <%= link_to edit_project_path(investment.project), { class: "edit-investment-button-table button-appear-hover" } do %>
              <%= t("dashboard.table.editable.project") %>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div class="row">
  <div class="col-md-12 white-dropshadow-card margin-top-bottom-6"> 
    <h2>There are no investments fitting these criteria. 
    Please try your search again.</h2>
  </div>
</div>
<% end %>
