

<div id="main-table" class="tablecontent">
  <div class="table-container">
    <table class="table table-hover margin-center dropshadow-around">
      <thead>
        <tr class="white-background header-row-milestone">
          <th scope="col" width="25%"><div class="tablesorter-header-inner"><%= t("home.table_first_column.title") %><i class="fas fa-arrows-alt-v margin-left-auto"></i></div></th>
          <th scope="col" width="30%"><div class="tablesorter-header-inner"><%= t("home.table_second_column.title") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
          <th scope="col" width="7%"><div class="tablesorter-header-inner"><%= t("home.table_third_column.title") %><i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i></div></th>
          <th scope="col" width="8%"><div class="tablesorter-header-inner"><%= t("home.table_fourth_column.title") %><i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i></div></th>
          <th scope="col" width="10%"><div class="tablesorter-header-inner"><%= t("home.table_fifth_column.title") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
          <th scope="col" id="milestone-table-crud-width" width="30%">
            <div class="header-table-button color-green"><i class="fas fa-lock-open"></i></div>
            <div class="header-table-button color-red"><i class="fas fa-times"></i></div>
            <div class="header-table-button color-yellow"><i class="fas fa-pencil-alt color-yellow"></i></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @installments.sort{|m|m.days_left}.each_with_index do |installment, index| %>
        <tr id="<%= installment.id %>" class="white-background table-row-milestone" data-milestone-id="<%= installment.id %>">
          <td><%= installment.investment.project.organisation.name %></td>
          <td>
            <%= link_to investment_path(installment.investment), {class: "green-link-text"} do %>
            <%= installment.investment.project.name %>
            <% end %>
          </td>
          <td>
            <div> <%= t("home.table_third_column.content", installment_index: installment.investment_index + 1, installment_count: installment.investment.installments.count) %> </div>
          </td>
          <td>
            <% if installment.days_left < 0 %>
              <div class="late"><%= t("home.table_fourth_column.content", days: installment.days_left) %></div>
            <% elsif installment.days_left < 7 %>
              <div class="almost-late"><%= t("home.table_fourth_column.content", days: installment.days_left) %></div>
            <% else %>
              <div><%= t("home.table_fourth_column.content", days: installment.days_left) %></div>
            <% end %>
          </td>
          <td> <div><%= nice_money(installment.amount) %></div></td>
          <td>
            <div class="table-button-flex">
              <%= link_to unlock_installment_path(id: installment.id, page: 'home'), :remote => true, :method => :post, :class => "unlock-button-table button-appear-hover" do %>
              <i class="fas fa-lock-open"></i>
              <% end %>
              <%= link_to rescind_installment_path(id: installment.id, page: 'home'), :remote => true, :method => :post, :class => "rescind-button-table button-appear-hover" do %>
              <i class="fas fa-times"></i>
              <% end %>
              <%= link_to edit_investment_installment_path(installment.investment, installment), { class: "edit-button-table button-appear-hover" } do %>
              <i class="fas fa-pencil-alt"></i>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


