<div class="search-container">
  <% search_buttons = ['Focus Area', 'Date', 'NGO', 'Neighborhood','Project'] %>
  <div class="search-buttons">
    <h3>Search by: </h3>
  <% search_buttons.each do |tab| %>
    <button class="tablinks" onclick="openTab(event,'<%= tab %>')"><%= tab %></button>
  <% end %>
  </div>
  <% search_buttons.each do |tab| %>

    <div id="<%= tab %>" class="tabcontent search-input" >
      <% tab = tab == 'Focus Area' ? 'focus_area' : tab  %>
      <%= render partial: "/partials/dashboard-search/#{tab}" %>
    </div>
  <% end %>
</div>

<%= content_for(:after_js) do %>
  <script>
    function openTab(evt, tabName) {
    // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }

      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }

      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
}
  </script>
<% end %>
