<!-- COMPLETED TAB -->
<% unless @investments.blank? %>
<div class="table-responsive no-margin-15">
  <table id="completedTable" class="table table-hover margin-center dropshadow-around">
    <thead>
     <tr class="white-background">
        <th rowspan="2" class="col-sm-2"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.ngo") %><i class="fas fa-arrows-alt-v margin-left-auto"></i></div></th>
        <th rowspan="2" class="col-sm-1"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.ngo_number") %><i class="fas fa-arrows-alt-v margin-left-auto"></i></div></th>
        <th rowspan="2" class="col-sm-3"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.project_name") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
        <th colspan="3" class="col-sm-3"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.amount_text") %></div></th>
        <th rowspan="2" class="col-sm-1"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.status") %><i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i></div></th>
        <th rowspan="2" class="col-sm-2" style="text-align: center;"><%= t("dashboard.table.header.edit") %></th>
      </tr>
      <tr class="white-background">
        <th scope="col" class="col-sm-1"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.unlocked") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
        <th scope="col" class="col-sm-1"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.locked") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
        <th scope="col" class="col-sm-1"><div class="tablesorter-header-inner"><%= t("dashboard.table.header.rescinded") %><i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
      </tr>
    </thead>
    <tbody>
      <% @investments.each do |investment| %>
      <tr class="white-background table-row-investment" data-investment-id="<%= investment.id %>">
        <td><%= investment.project.organisation.name.capitalize %></td>
        <td><%= investment.project.organisation.charity_number %></td>
        <td>
          <%= link_to investment_path(investment), {class: "green-link-text"} do %>
          <%= investment.project.name %>
          <% end %>
        </td>
        <td><%= nice_money(investment.installments.deadline_between(@start_date, @end_date).unlocked.sum(:amount)) %></td>
        <td><%= nice_money(investment.installments.deadline_between(@start_date, @end_date).locked.sum(:amount)) %></td>
        <td><%= nice_money(investment.installments.deadline_between(@start_date, @end_date).rescinded.sum(:amount)) %></td>
        <td>
          <% if investment.completed? %>
          <div class="completed-icon"><%= t("dashboard.table.completed") %></div>
          <% else %>
          <div class="active-icon"><%= t("dashboard.table.active") %></div>
          <% end %>
        </td>
        <td>
          <div class="flex-space-around">
            <%= link_to edit_investment_path(investment), { class: "edit-investment-button-table button-appear-hover" } do %>
              <%= t("dashboard.table.editable.investment") %>
            <% end %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div class="row">
  <div class="col-md-12 white-dropshadow-card margin-top-bottom-6"> 
    <h2>There are no investments fitting these criteria. 
    Please try your search again.</h2>
  </div>
</div>
<% end %>
