
<div id="search-container" class="row margin-top-bottom-6">
  <div class="col-md-12 white-dropshadow-card green-text">
    <% search_buttons = ['Focus Area', 'Date', 'NGO', 'Neighborhood','Project'] %>
    <div class="search-buttons">
      <h3>Search by: </h3>
    <% search_buttons.each do |tab| %>
      <button class="tablinks" onclick="openTab(event,'<%= tab %>')"><%= tab %></button>
    <% end %>
    <button class="search-btn" onclick="mainSearch()">search!</button>
    </div>
    <% search_buttons.each do |tab| %>

      <div id="<%= tab %>" class="tabcontent search-input" >
        <% tab = tab == 'Focus Area' ? 'focus_area' : tab  %>
        <%= render partial: "/partials/dashboard-search/#{tab}" %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
    let searchHeight = 53
    function openTab(evt, tabName) {
    // Declare all variables
      var i, tabcontent, tablinks;

      // Get all elements with class="tabcontent" and hide them
      // tabcontent = document.getElementsByClassName("tabcontent");
      // for (i = 0; i < tabcontent.length; i++) {
      //     tabcontent[i].style.display = "none";
      // }

      // Get all elements with class="tablinks" and remove the class "active-tab"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active-tab", "");
      }

      // Show the current tab, and add an "active-tab" class to the button that opened the tab
      if (document.getElementById(tabName).style.display === "block") {
        document.getElementById(tabName).style.display = "none";
        searchHeight -= 130
        document.getElementById('search-container').style.height = `${searchHeight}px`

      }else{
        document.getElementById(tabName).style.display = "block";
        searchHeight += 130
        document.getElementById('search-container').style.height = `${searchHeight}px`
      }

      evt.currentTarget.className += " active-tab";
}
  function addTag(selectionType, tag) {
    let selection = document.getElementById(selectionType)
    var selectiontags = ''
    selection.childNodes.forEach((child) => {
      selectiontags += child.innerHTML
    });
    if (!selectiontags.includes(tag.replace("&","&amp;"))){
    selection.insertAdjacentHTML('afterbegin',`<h7 class="tag"> ${tag}</h7>`)
    }
  }
  function clearSuggestions(){
    ['focusSuggestions'].forEach((selection) => { // just add some tags whenever you add a new searchfield
      document.getElementById(selection).childNodes.forEach((child) => {
        child.remove();
      });
    });

  }

  function mainSearch(){
    var url = '?search=true'
    var fields = ['focus_selection','ngo_selection','neighborhood_selection','project_selection']
    fields.forEach((selection) => {
      var field = selection.split('_')[0]
      console.log(field)
      var tags = ''
      document.getElementById(selection).childNodes.forEach((child)=>{
        tags += `${child.innerHTML.replace("&amp;",'and')},`
        console.log(child.innerHTML)
      });
      url += `&${field}=${tags}`
    })
    url += `&min_date=${document.getElementById('min-date').value}`

    url += `&max_date=${document.getElementById('max-date').value}`
      window.location.replace(`${url}`)
  };
  </script>
<% end %>
