
<% if @investment.completed? %>
  <div class="col-sm-2 margin-top-bottom-6">
    <div id="invest-show-focus-area" class="green-dropshadow-card white-text flex-center-center"> 
      <%= @investment.project.focus_area.name %>
    </div>
  </div>
  
<% elsif @investment.rejected? %>
  <div class="col-sm-2 margin-top-bottom-6">
    <div id="invest-show-focus-area" class="red-dropshadow-card white-text flex-center-center"> 
      <%= @investment.project.focus_area.name %>
    </div>
  </div>
  
<% else %>
  <div class="col-sm-2 margin-top-bottom-6">
    <div id="invest-show-focus-area" class="white-dropshadow-card green-text flex-center-center"> 
      <%= @investment.project.focus_area.name %>
    </div>
  </div>
<% end %>

<div class="col-sm-2 margin-top-bottom-6">
    <%= render "total_unlocked", investment: @investment %>
</div>
<div class="col-sm-2 margin-top-bottom-6">
    <%= render partial: "/partials/forecasted_amount_invest_show", investment: @investment %>
</div>

