
<% if @investment.completed %>
  <div id="invest-show-focus-area-show" class="invest-show-info-child-box unlocked-background-color white-text">
    <div id="invest-show-focus-area" > <%= @investment.project.focus_area %></div>
  </div>
  <div id="invest-show-unlocked-amount" class="invest-show-info-child-box unlocked-background-color white-text">
    <%= render "total_unlocked", investment: @investment %>
  </div>
  <div id="invest-show-forecasted-amount" class="invest-show-info-child-box unlocked-background-color white-text">
    <%= render partial: "/partials/forecasted_amount_invest_show", investment: @investment %>
  </div>

<% else %>
  <div id="invest-show-focus-area-show" class="invest-show-info-child-box white-background-color green-text ">
    <div id="invest-show-focus-area"> <%= @investment.project.focus_area %></div>
  </div>
  <div id="invest-show-unlocked-amount" class="invest-show-info-child-box white-background-color green-text">
    <%= render "total_unlocked", investment: @investment %>
  </div>
  <div id="invest-show-forecasted-amount" class="invest-show-info-child-box white-background-color green-text">
    <%= render partial: "/partials/forecasted_amount_invest_show", investment: @investment %>
  </div>
<% end %>
