<div class="navbar-landing" id="navbar">

  <%= link_to root_path, class: "landing-wau-logo" do %>
  <%# image_tag "http://res.cloudinary.com/dqkzp8fae/image/upload/c_scale,f_auto,w_50/v1520957148/Unicorn-Landing-Logo.svg" %>
  <%=cl_image_tag("Unicorn-Logo.png", height: 50) %>
  <%#cl_image_tag("Unicorn-Landing-Logo.svg", :fetch_format=>:auto)%>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wau-right hidden-xs hidden-sm">
    <div>
      <%= link_to  new_user_session_path, { class: "button-landing" } do %>
      <%= t("landing.navbar.button") %>
      <% end %>
    </div>
  </div>


  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wau-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wau-dropdown-menu">
        <%= link_to  new_user_session_path, { class: "navbar-wau-item navbar-wau-link" } do %>
        <%= t("landing.navbar.button") %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

