<h1><%= @meme %></h1>
<div class=home-wrapper>
  <div class="white-info-parent-flex">
    <div class="container-home-info-box">
      <div id="investment_count_home" class="white-info-child-box">
        <%= render partial: "/partials/investment_count_home" %>
      </div>
      <div id="unlocked-amount" class="white-info-child-box">
        <%= render partial: "/partials/total_unlocked_home" %>
      </div>
      <div id="forecasted-amount" class="white-info-child-box">
        <%= render partial: "/partials/forecasted_amount_home" %>
      </div>
    </div>
  </div>
</div>
<%=  %>
<%= form_tag("/dashboard", method: "get") do %>
  <%= label_tag(:min_date, t("dashboard.search_bar.min_date")) %>
  <%= date_field_tag(:min_date) %>
  <%= label_tag(:max_date,  t("dashboard.search_bar.max_date")) %>
  <%= date_field_tag(:max_date) %>
  <%= check_box_tag(:date_search) %>
  <%= label_tag(:date_search, "search using dates") %>
  <br>
  <%= label_tag(:focus_area, 'search using focus area') %>
  <%= text_field_tag(:focus_area) %>
  <%= submit_tag("Search") %>

<% end %>

  <br>
<%= render partial: 'partials/charts/charts' %>
<%= render partial: '/partials/dashboard-investment-table' %>
