<%= params[:project]%>

<div class=home-wrapper>
   <div class="white-info-parent-flex">
      <div class="container-home-info-box">
         <div id="investment_count_home" class="white-info-child-box">
            <%= render partial: "/partials/investment_count_home" %>
         </div>
         <div id="unlocked-amount" class="white-info-child-box">
            <%= render partial: "/partials/total_unlocked_home" %>
         </div>
         <div id="forecasted-amount" class="white-info-child-box">
            <%= render partial: "/partials/forecasted_amount_home" %>
         </div>
      </div>
   </div>
</div>
<br>
<br>
<br>
<br>
<%= render partial: '/partials/dashboard_search' %> 
<div id="charts">

<script>
  </script>
<!-- COMMENT -->
