<h1><%= @meme %></h1>
<div class=home-wrapper>
  <div class="white-info-parent-flex">
    <div class="container-home-info-box">
      <div id="investment_count_home" class="white-info-child-box">
        <%= render partial: "/partials/investment_count_home" %>
      </div>
      <div id="unlocked-amount" class="white-info-child-box">
        <%= render partial: "/partials/total_unlocked_home" %>
      </div>
      <div id="forecasted-amount" class="white-info-child-box">
        <%= render partial: "/partials/forecasted_amount_home" %>
      </div>
    </div>
  </div>
</div>
<%=  %>
<%= form_tag("/dashboard", method: "get") do %>
  <%= label_tag(:min_date, t("dashboard.search_bar.min_date")) %>
  <%= date_field_tag(:min_date) %>
  <%= label_tag(:max_date,  t("dashboard.search_bar.max_date")) %>
  <%= date_field_tag(:max_date) %>
  <%= check_box_tag(:date_search) %>
  <%= label_tag(:date_search, "search using dates") %>
  <br>
  <%= label_tag(:focus_area, 'search using focus area') %>
  <%= text_field_tag :focus_area, nil, style: 'width: 100%' %>
  <%= submit_tag("Search") %>
<% end %>
 <div id="container">
    <input type="text" id="search">
    <ul id="results">
    </ul>
  </div>
<div id="selected-focus" style="border:2px;width:300px;height:400px;">
  <h2>selected focus</h2>
</div>

<script>
const input = document.getElementById('search');
const results = document.getElementById('results');
const selectedFocus = document.getElementById('selected-focus')

function clearSearch() {
  results.childNodes.forEach((child) => {
    child.remove();
  });
}

function addSuggestion(suggestion) {
  results.insertAdjacentHTML('afterbegin', `<li onclick="helloWorld('${suggestion}');">${suggestion}</li>`);
}

function addFocus(focus) {
  selectedFocus.insertAdjacentHTML('afterbegin'. 'h3')
}

function fetchInfo() {
  clearSearch();
  const inputValue = input.value;
  $.ajax({
  url: `/focus_area/${inputValue}`,
  type: 'GET',
  dataType: 'json',
  beforeSend: function (xhr) {
      xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  },
  success: function(data){data.results.forEach((word) => addSuggestion(word)); },
  error: function(xhr, status, response) {/* your error callback */}
});
}
function helloWorld(word) {
  console.log(word)
};
document.addEventListener('keyup', fetchInfo);

</script>
