<div class=home-wrapper>
  <div class="white-info-parent-flex">
    <div class="container-home-info-box">
      <div id="investment_count_home" class="white-info-child-box">
        <%= render partial: "/partials/investment_count_home" %>
      </div>
      <div id="unlocked-amount" class="white-info-child-box">
        <%= render partial: "/partials/total_unlocked_home" %>
      </div>
      <div id="forecasted-amount" class="white-info-child-box">
        <%= render partial: "/partials/forecasted_amount_home" %>
      </div>
    </div>
  </div>
</div>
<%= form_tag("/dashboard", method: "get") do %>
  <%= label_tag(:min_date, "min date") %>
  <%= date_field_tag(:min_date) %>
  <%= label_tag(:max_date, "max date") %>
  <%= date_field_tag(:max_date) %>
  <%= check_box_tag(:date_search) %>
  <%= label_tag(:date_search, "search using dates") %>
  <br>
  <%= label_tag(:focus_area, "focus area") %>
  <%  focus_areas = options_from_collection_for_select(FocusArea.all, :id, :name) %>
  <%= select_tag(:focus_area,focus_areas) %>
  <%= check_box_tag(:focus_area_search) %>
  <%= label_tag(:focus_area_search, "search using focus_areas") %>

  <br>
  <%= label_tag(:ngo, "ngo") %>
  <% ngos = options_from_collection_for_select(
          current_user.organisation.investments.map(&:project).map(&:organisation).uniq,
          :id,
          :name)
          %>
  <%= select_tag(:ngo, ngos) %>
  <%= check_box_tag(:ngo_search) %>
  <%= label_tag(:ngo_search, "search using ngos") %>

  <br>
  <%= label_tag(:neighborhood, "neighborhood")%>
  <% neighborhoods = options_from_collection_for_select(
          Geo.all,
          :id,
          :name)
          %>
  <%= select_tag(:neighborhood,neighborhoods)  %>
  <%= check_box_tag(:neighborhood_search) %>
  <%= label_tag(:neighborhood_search, "search using neighborhood") %>

  <%= submit_tag("Search") %>

<% end %>
<%= @installments %>
