<%= link_to "Download all existing investments",investments_csv_path %>
<br>
<%= link_to "Download all existing users",users_csv_path %>
<br>
<%= link_to "Download all existing projects",projects_csv_path %>
<!--
<h2>add users</h2>
<%= form_tag '/generate_users', multipart: true %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= file_field_tag :users_csv %>
<%= submit_tag("Generate users",controller:"users",action:"generate_users") %>
<<<<<<< HEAD
 -->

<h2>Upload projects</h2>
<%= form_tag '/generate_projects', multipart: true %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= file_field_tag :projects_csv %>
<%= submit_tag("Upload projects",controller:"projects",action:"generate_projects") %>
<h3>TEMPLATE</h3>

<h2>Upload investments</h2>
<%= form_tag '/generate_investments', multipart: true %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= file_field_tag :investments_csv %>
<%= submit_tag("Upload investments",controller:"investments",action:"generate_investments") %>

