<div class="chart-box">
  <canvas class="home-chart" alt="chart" id="myChart"></canvas>
  <canvas class="home-chart" alt="chart" id="lineChart"></canvas>
</div>

<div class="title-button-container">
  <div class="home-title-container">
    <h3>Upcoming Investment Milestones</h3>
  </div>
  <%= link_to new_investment_path, { class: "round-purple-new-btn" } do %>
  <i class="fas fa-plus"></i>
  <% end %>
</div>

<div class="table-container">
<table class="table table-hover margin-center">
  <thead>
    <tr class="white-background">
      <th scope="col">NGO</th>
      <th scope="col">Project Name</th>
      <th scope="col">New Milestone</th>
      <th scope="col">Milestone Amount</th>
    </tr>
  </thead>
  <tbody>
<% @milestones.sort{|m|m.days_left}.each_with_index do |milestone, index| %>
    <tr class="white-background">
      <td><%= milestone.investment.project.ngo %></td>
      <td><%= milestone.investment.project.name %></td>
      <td><%= milestone.days_left %> days</td>
      <td><%= nice_money(milestone.amount) %></td>
    </tr>
      <% end %>
  </tbody>
</table>
</div>



<% @milestones.sort{|m|m.days_left}.each_with_index do |milestone, index| %>
<div class="home-page-flex-parent" data-milestone-id="<%= milestone.id %>">
  <div class="home-page-child-row">
    <div class="home-page-child-box purple-border-bottom all-caps-bold">
      <p><%= milestone.investment.project.ngo %></p>
    </div>
    <div class="home-page-child-box purple-border-bottom">
      <p><%= milestone.investment.project.name %></p>
    </div>
  </div>
  <div class="home-page-child-row">
    <div class="home-page-child-box">
      <div class="home-page-days-left"><%= milestone.days_left %> days</div>
    </div>
    <div class="home-page-child-box no-margin milestone-description">
      <h4>
        Milestone <%= milestone.investment_index + 1  %>
      </h4>
      <h5><%= nice_money(milestone.amount) %></h5>
    </div>
    <div class="home-page-child-box description-text"><%= milestone.task %></div>
    <div class="buttons-flex">
      <div class="home-page-child-box">
        <div class="card-button unlock-button"><i class="fas fa-check"></i></div>
      </div>
      <div class="home-page-child-box">
        <div class="card-button decline-button"><i class="fas fa-times"></i></div>
      </div>
      <div class="home-page-child-box">
        <div class="card-button edit-button"><i class="fas fa-pencil-alt"></i></div>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= content_for(:after_js) do %>
<script type="text/javascript">
  let unlockButtons = document.getElementsByClassName('unlock-button');
  for(let index = 0; index < unlockButtons.length; index++) {
    let unlockButton = unlockButtons[index];
    unlockButton.addEventListener("click", function(element){
      let milestoneId = element.srcElement.closest(".home-page-flex-parent").getAttribute("data-milestone-id");

      fetch("<%= unlock_milestone_path %>", {
        method: 'post',
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
          'Content-Type': 'application/json',
        },
        credentials: "same-origin",
        body: JSON.stringify({
          id: milestoneId
        })
      })
      .then(function(response) {
        return response.json();
      })
      .then(function(data) {
        console.info("request finished, here is the data", data);
        // delete the element
      })
      .catch(function(e) {
        console.info("oops error", e)
        // something went wrong
      });
    });
  };

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    responsive: false,

    <% @projects_by_focus_area = current_user.foundation.projects_by_focus_area.map do |focus_area, projects| %>
      <% [focus_area,projects.map(&:total_funding).reduce(0,:+)] %>
    <% end %>
    <% @projects_by_focus_area = @projects_by_focus_area.to_h %>
    <% @chart_colors = []%>
    <% @projects_by_focus_area.count.times do %>
    <% @chart_colors.push("rgba(#{rand(1..255)}, #{rand(1..255)},#{rand(1..255)},0.6)") %>
    <% end %>
    // The data for our dataset
    data: {
        labels: <%= raw @projects_by_focus_area.keys %>,
        datasets: [{
            label: "My First dataset",
            backgroundColor: <%= raw @chart_colors  %>,
            borderColor: 'rgb(255, 99, 132)',
            data: <%= raw @projects_by_focus_area.values %>,
        }]
    },

    // Configuration options go here
    options: {
      responsive: false,
       legend: {
            display: false
         },
         tooltips: {
            enabled: false
         },
      scales: {
        xAxes: [{
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)",
                    }
                }],
        yAxes: [{
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)",
                    },
                    ticks: {
                            // Return an empty string to draw the tick line but hide the tick label
                            // Return `null` or `undefined` to hide the tick line entirely
                            userCallback: function(value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);

                                // Convert the array to a string and format the output
                                value = value.join(',');
                                return '$' + value;
                                }
                            }
                }]
        }
    }
});



var ctx2 = document.getElementById('lineChart').getContext('2d');
var lineChart = new Chart(ctx2, {
    // The type of chart we want to create
    type: 'line',

    <% @projects_by_month = current_user.foundation.projects_by_milestones_deadline_month  %>
    <% @chart_colors = []%>
    <% @projects_by_focus_area.count.times do %>
    <% @chart_colors.push("rgba(#{rand(1..255)}, #{rand(1..255)},#{rand(1..255)},0.6)") %>
    <% end %>
    // The data for our dataset
    data: {
        labels: [
'January',
'February',
'March',
'April',
'May',
'June',
'July',
'August',
'September',
'October',
'November',
'December'
],
        datasets: [{
            label: "My First dataset",
            backgroundColor: <%= raw @chart_colors  %>,
            borderColor: 'rgb(255, 99, 132)',
            data: <%= raw @projects_by_month.values %>,
        }]
    },

    // Configuration options go here
    options: {
      responsive: false,
       legend: {
            display: false
         },
         tooltips: {
            enabled: false
         },
      scales: {
        xAxes: [{
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)",
                    }
                }],
        yAxes: [{
                    gridLines: {
                        color: "rgba(0, 0, 0, 0)",
                    },
                    ticks: {
                            // Return an empty string to draw the tick line but hide the tick label
                            // Return `null` or `undefined` to hide the tick line entirely
                            userCallback: function(value, index, values) {
                                // Convert the number to a string and splite the string every 3 charaters from the end
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);

                                // Convert the array to a string and format the output
                                value = value.join(',');
                                return '$' + value;
                                }
                            }
                        }]
        }
    }
});
</script>
<% end %>
