<div class="white-info-parent-flex">
  <div class="container-home-info-box">
    <div class="white-info-child-box">
      <div class="big-number-green"> <%= current_user.foundation.investments.count %></div>
      <div class="small-text-gray"> YTD Investments  </div>
    </div>
    <div id="forecasted-amount" class="white-info-child-box">
      <%= render partial: "/partials/forecasted_amount_home" %>
    </div>
    <div id="unlocked-amount" class="white-info-child-box">
      <%= render partial: "/partials/total_unlocked_home" %>
    </div>
  </div>
</div>

<div id="charts-home" class="chart-box">
  <%= render partial: "/partials/charts" %>
</div>

<div class="mid-title-box">
  <div class="mid-title-flex">
    <div class="title-mid-home-page-text">
      <h3>Upcoming Milestones</h3>
    </div>
    <div class="button-right">
    <%= link_to new_investment_path, { class: "btn btn-success" } do %>
    Create an investment
    <% end %>
    </div>
  </div>
</div>


<div class="table-container">
<table class="table table-hover margin-center dropshadow-around">
  <thead>
    <tr class="white-background header-row-milestone">
      <th scope="col" width="20%"><div class="tablesorter-header-inner">NGO<i class="fas fa-arrows-alt-v margin-left-auto"></i></div></th>
      <th scope="col" width="35%"><div class="tablesorter-header-inner">Project Name<i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
      <th scope="col" width="15%"><div class="tablesorter-header-inner">New Milestone<i class="fas fa-arrows-alt-v center-justified  margin-left-auto"></i></div></th>
      <th scope="col" width="15%"><div class="tablesorter-header-inner">Milestone Amount<i class="fas fa-arrows-alt-v center-justified margin-left-auto"></i></div></th>
      <th scope="col" colspan="3" width="15%"></th>
    </tr>
  </thead>
  <tbody>
  <% @milestones.sort{|m|m.days_left}.each_with_index do |milestone, index| %>
    <tr id="<%= milestone.id %>" class="white-background table-row-milestone" data-milestone-id="<%= milestone.id %>">
      <td><%= milestone.investment.project.ngo %></td>
      <td>
          <%= link_to investment_path(milestone.investment), {class: "green-link-text"} do %>
            <%= milestone.investment.project.name %>
          <% end %>
        </td>
      <td><%= milestone.days_left %> days</td>
      <td><%= nice_money(milestone.amount) %></td>
      <td>
        <%= link_to unlock_milestone_path(id: milestone.id, page: 'home'), :remote => true, :method => :post, :class => "unlock-button-table button-appear-hover" do %>
          <i class="fas fa-check"></i>
        <% end %>
      </td>
      <td>
         <%= link_to rescind_milestone_path(id: milestone.id, page: 'home'), :remote => true, :method => :post, :class => "rescind-button-table button-appear-hover" do %>
          <i class="fas fa-times"></i>
        <% end %>
      </td>
      <td>
        <%= link_to edit_investment_milestone_path(milestone.investment, milestone), { class: "edit-button-table button-appear-hover" } do %>
            <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">
  $("table").tablesorter();
</script>
<% end %>
