<br>
<div class="row">
  <div id="investment_count_home" class="col-sm-4 margin-top-bottom-6">
    <%= render partial: "/partials/info-box/investment_count_box" %>
  </div>
  <div id="unlocked-amount" class="col-sm-4 margin-top-bottom-6">
    <%= render partial: "/partials/info-box/total_unlocked_box" %>
  </div>
  <div id="forecasted-amount" class="col-sm-4 margin-top-bottom-6">
    <%= render partial: "/partials/info-box/forecasted_amount_box" %>
  </div>
</div>

<div id="charts-home" class="row">
  <%= render partial: "/partials/charts/home_charts" %>
</div>


<div class="row margin-top-bottom-6">  
  <div class="col-sm-6 col-sm-push-6 left-end-flex-md-up">
    <%= link_to new_investment_path, { class: "btn btn-success" } do %>
    <%= t("home.mid_section_button").upcase %>
    <% end %>
  </div>
  <div class="col-sm-6 size-24 col-sm-pull-6">
    <%= t("home.mid_section_title").upcase %>
  </div>
</div>


<div id="tables">
  <%= render partial: 'partials/tables/home/upcoming_locked_installments' %>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">
  $("table").tablesorter();
</script>
<% end %>

<!-- Organisation.first.locked_installments.sort_by(&:deadline).inject({}){|h, k| h[k.investment_id] = k unless h.key? k.investment_id; h}.values.count -->

