<div class=home-wrapper>
  <div class="white-info-parent-flex">
    <div class="container-home-info-box">
      <div id="investment_count_home" class="white-info-child-box">
        <%= render partial: "/partials/investment_count_home" %>
      </div>
      <div id="unlocked-amount" class="white-info-child-box">
        <%= render partial: "/partials/total_unlocked_home" %>
      </div>
      <div id="forecasted-amount" class="white-info-child-box">
        <%= render partial: "/partials/forecasted_amount_home" %>
      </div>
    </div>
  </div>
</div>

<div id="charts-home" class="chart-box">
  <%= render partial: "/partials/charts" %>
</div>

<div class="mid-title-box">
  <div class="mid-title-flex">
    <div class="title-mid-home-page-text">
      <h3> <%= t("home.mid_section_title") %> </h3>
    </div>
    <div class="mid-title-button-right grow">
      <%= link_to new_investment_path, { class: "mid-title-button-body" } do %>
      <%= t("home.mid_section_button") %>
      <% end %>
    </div>
  </div>
</div>
<div id="tables">
    <%= render partial: 'partials/home-installments-table' %>
</div>

<%= content_for(:after_js) do %>
<script type="text/javascript">
  $("table").tablesorter();
  function filter(type){
  };
  console.log('hello world')
</script>


<% end %>
