<div class="devise-container">
  <%= simple_form_for([@project]) do |f| %>
    <%= f.input :name %>
    <%= f.input :ngo %>
    <%= f.input :description %>
    <%= f.input :main_contact %>
    <%= f.input :focus_area, collection: ['Child Care', 'Environmental', 'Human Rights', 'Community']  %>
    <%= f.association :geos %>
  <%= f.submit 'Save', class: "btn btn-success"%>
  <% end %>
</div>
