<div class="tab">
  <h3>Chart menu</h3>
  <button class="tablinks" onclick="openChart(event, 'focus_area')">By Focus area</button>
  <button class="tablinks" onclick="openChart(event, 'ngo')">By NGO</button>
  <button class="tablinks" onclick="openChart(event, 'installments')">Timeline</button>
  <button class="tablinks" onclick="openChart(event, 'neighborhood')">By Neighborhood</button>
  <button class="tablinks" onclick="openChart(event, 'sdasfag')">Close charts</button>

</div>

<div class="dashboard-charts">
<div id="focus_area" class="dashboard-chart tabcontent"></div>
<div id="ngo" class="dashboard-chart tabcontent"></div>
<div id="installments" class="dashboard-chart tabcontent"></div>
<div id="neighborhood" class="dashboard-chart tabcontent"></div>
</div>
<%= content_for(:after_js) do %>
<script type="text/javascript">
  Chart.defaults.global.defaultFontFamily = 'Raleway';
</script>

<!-- DATE CHART: Cumulative installments by month in chronological order -->
<% year = params[:year].present? ? params[:year] : Date.today.year %>
<%= line_chart [
    {name: "Unlocked", data: @unlocked_installments_time_chart},
    {name: "Locked", data: @locked_installments_time_chart}],
    id: "installments",
    stacked: true,
    prefix: "$",
    thousands: ",",
    colors: ["#8D81D2","#AE6CB5"],
    library: {
        tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false,
        },
      title: {
        display: true,
        text: "FY Forecasted Investments between #{@start_date} and #{@end_date}"
      },
    } %>

<%= bar_chart [
    {name: "Unlocked", data: @unlocked_installments_fa_chart},
    {name: "Locked", data: @locked_installments_fa_chart}],
    id: "focus_area",
    stacked:true,
    prefix: "$",
    thousands: ",",
    download: true,
    colors: ["#8D81D2", "#AE6CB5"],
    library: {
        tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false
        },
      title: {
        display: true,
        text: 'FY Forecasted Investments By Focus Area'
      },
    } %>

  <%= bar_chart [
    {name: "Unocked", data: @unlocked_installments_ngo_chart},
    {name: "Locked", data: @locked_installments_ngo_chart}],
    id: "ngo",
    stacked:true,
    prefix: "$",
    thousands: ",",
    download: true,
    colors: ["#8D81D2", "#AE6CB5"],
    library: {
        tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false
        },
      title: {
        display: true,
        text: 'FY Forecasted Investments By NGO'
      },
    } %>

    <%= bar_chart [
    {name: "Unlocked", data:  @unlocked_installments_geo_chart},
    {name: "Locked", data:  @locked_installments_geo_chart}],
    id: "neighborhood",
    stacked:true,
    prefix: "$",
    thousands: ",",
    download: true,
    colors: ["#8D81D2", "#AE6CB5"],
    library: {
        tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false
        },
      title: {
        display: true,
        text: 'FY Forecasted Investments By Neighborhood'
      },
    } %>

  <script>
    function openChart(evt, chartName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(chartName).style.display = "block";
    evt.currentTarget.className += " active";
}
  </script>
<% end %>

