
<div class="row margin-top-bottom-6">
    <div class="col-md-3 no-left-padding-md">
        <div class="white-dropshadow-card flex-column">
            <div class="green-text size-24">
                <%= nice_money(@installments.permitted.sum(:amount)) %>
            </div>
            <div>
                <%= t("dashboard.charts.info.total") %>
            </div>
        </div>
    </div>
    <div class="col-md-3 no-left-padding-md ">
        <div class="white-dropshadow-card flex-column">
            <div class="green-text size-24">
                <%= nice_money(@installments.locked.sum(:amount)) %>
            </div>
            <div>
                <%= t("dashboard.charts.info.locked") %>
            </div>
        </div>
    </div>
    <div class="col-md-3 no-right-padding-md">
        <div class="white-dropshadow-card flex-column">
            <div class="green-text size-24">
                <%= nice_money(@installments.unlocked.sum(:amount)) %>
            </div>
            <div>
                <%= t("dashboard.charts.info.unlocked") %>
            </div>
        </div>
    </div>
    <div class="col-md-3 no-right-padding-md">
        <div class="white-dropshadow-card flex-column">
            <div class="green-text size-24">
                <%= @investments.count %>
            </div>
            <div>
                <%= t("dashboard.charts.info.investment_count") %>
            </div>
        </div>
    </div>
</div>


<div class="row margin-top-bottom-6">
    <div class="col-md-6 no-left-padding-md">
        <div id="dash_timeseries_month" class="dashboard-chart white-dropshadow-card"></div>
    </div>
    <div class="col-md-6 no-right-padding-md">
        <div id="dash_tag_bars" class="dashboard-chart white-dropshadow-card"></div>
    </div>
</div>

<div class="row margin-top-bottom-6">
    <div class="col-md-6 no-left-padding-md">
        <div id="dash_fa_bars" class="dashboard-chart white-dropshadow-card"></div>
    </div>
    <div class="col-md-6 no-right-padding-md">
        <div id="dash_ngo_bars" class="dashboard-chart white-dropshadow-card"></div>
    </div>
</div>
<div class="row margin-top-bottom-6">
    <div class="col-md-6 no-left-padding-md">
        <div id="dash_geo_bars" class="dashboard-chart white-dropshadow-card"></div>
    </div>
    <div class="col-md-6 no-right-padding-md">
        <div id="dash_project_bars" class="dashboard-chart white-dropshadow-card"></div>
    </div>
</div>



<%= content_for(:after_js) do %>
<script type="text/javascript">
  Chart.defaults.global.defaultFontFamily = 'Raleway';
</script>

<!-- DATE CHART: Cumulative installments by month in chronological order -->
<%= area_chart [
    {name: t("dashboard.charts.info.unlocked"), data: @unlocked_installments_time_day},
    {name: t("dashboard.charts.info.locked"), data: @locked_installments_time_day},
    {name: t("dashboard.charts.info.rescinded"), data: @rescinded_installments_time_day}],
    messages: {empty: "Sorry, there is no corresponding data, please try again"},
    id: "dash_timeseries_day",
    stacked: true,
    prefix: "$",
    thousands: ",",
    points: false,
    colors: ["#8D81D2","#AE6CB5", "#EA003B"],
    library: {
        tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false,
        },
      title: {
        display: true,
        text: t("dashboard.charts.time.title", begining_date: @start_date, ending_date: @end_date)
      },
      scales: {
        xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
        yAxes: [{
                    gridLines: {
                        display:false
                    }
                }]},
} %>

<%= area_chart [
    {name: t("dashboard.charts.info.unlocked"), data: @unlocked_installments_time_week},
    {name: t("dashboard.charts.info.locked"), data: @locked_installments_time_week},
    {name: t("dashboard.charts.info.rescinded"), data: @rescinded_installments_time_week}],
    messages: {empty: "Sorry, there is no corresponding data, please try again"},
    id: "dash_timeseries_week",
    stacked: true,
    prefix: "$",
    thousands: ",",
    colors: ["#8D81D2","#AE6CB5", "#EA003B"],
    library: {
        tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false,
        },
      title: {
        display: true,
        text: t("dashboard.charts.timechart.title", begining_date: @start_date, ending_date: @end_date)
      },
      scales: {
        xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
        yAxes: [{
                    gridLines: {
                        display:false
                    }
                }]},
} %>

<%= area_chart [
    {name: t("dashboard.charts.info.unlocked"), data: @unlocked_installments_time_month},
    {name: t("dashboard.charts.info.locked"), data: @locked_installments_time_month},
    {name: t("dashboard.charts.info.rescinded"), data: @rescinded_installments_time_month}],
    messages: {empty: "Sorry, there is no corresponding data, please try again"},
    id: "dash_timeseries_month",
    stacked: true,
    prefix: "$",
    thousands: ",",
    colors: ["#8D81D2","#AE6CB5", "#EA003B"],
    library: {
        tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false,
        },
      title: {
        display: true,
        text: t("dashboard.charts.timechart.title", begining_date: @start_date, ending_date: @end_date)
      },
      scales: {
        xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
        yAxes: [{
                    gridLines: {
                        display:false
                    }
                }]},
}, messages: {empty: "No data"} %>

<%= area_chart [
    {name: t("dashboard.charts.info.unlocked"), data: @unlocked_installments_time_year},
    {name: t("dashboard.charts.info.locked"), data: @locked_installments_time_year},
    {name: t("dashboard.charts.info.rescinded"), data: @rescinded_installments_time_year}],
    messages: {empty: "Sorry, there is no corresponding data, please try again"},
    id: "dash_timeseries_year",
    stacked: true,
    prefix: "$",
    thousands: ",",
    colors: ["#8D81D2","#AE6CB5", "#EA003B"],
    library: {
        tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false,
        },
      title: {
        display: true,
        text: t("dashboard.charts.time.title", begining_date: @start_date, ending_date: @end_date)
      },
      scales: {
        xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
        yAxes: [{
                    gridLines: {
                        display:false
                    }
                }]},
} %>

<%= bar_chart [
    {name: t("dashboard.charts.info.unlocked"), data: @unlocked_installments_fa_chart},
    {name: t("dashboard.charts.info.locked"), data: @locked_installments_fa_chart},
    {name: t("dashboard.charts.info.rescinded"), data: @rescinded_installments_fa_chart}],
    messages: {empty: "Sorry, there is no corresponding data, please try again"},
    id: "dash_fa_bars",
    stacked: true,
    prefix: "$",
    thousands: ",",
    download: true,
    colors: ["#8D81D2", "#AE6CB5", "#EA003B"],
    library: {
        tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false
        },
      title: {
        display: true,
        text: t("dashboard.charts.fa.title")
      },
      scales: {
        xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
        yAxes: [{
                    gridLines: {
                        display:false
                    }
                }]},
    } %>

<%= bar_chart [
    {name: t("dashboard.charts.info.unlocked"), data: @unlocked_installments_ngo_chart},
    {name: t("dashboard.charts.info.locked"), data: @locked_installments_ngo_chart},
    {name: t("dashboard.charts.info.rescinded"), data: @rescinded_installments_ngo_chart}],
    messages: {empty: "Sorry, there is no corresponding data, please try again"},
    id: "dash_ngo_bars",
    stacked:true,
    prefix: "$",
    thousands: ",",
    download: true,
    colors: ["#8D81D2","#AE6CB5", "#EA003B"],
    library: {
        tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false
        },
      title: {
        display: true,
        text: t("dashboard.charts.ngo.title")
      },
    scales: {
        xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
        yAxes: [{
                    gridLines: {
                        display:false
                    }
                }]},
} %>

<%= bar_chart [
    {name: t("dashboard.charts.info.unlocked"), data:  @unlocked_installments_geo_chart},
    {name: t("dashboard.charts.info.locked"), data:  @locked_installments_geo_chart},
    {name: t("dashboard.charts.info.rescinded"), data:  @rescinded_installments_geo_chart}],
    messages: {empty: "Sorry, there is no corresponding data, please try again"},
    id: "dash_geo_bars",
    stacked:true,
    prefix: "$",
    thousands: ",",
    download: true,
    colors: ["#8D81D2","#AE6CB5", "#EA003B"],
    library: {
        tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false
        },
      title: {
        display: true,
        text: t("dashboard.charts.geo.title")
      },
      scales: {
        xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
        yAxes: [{
                    gridLines: {
                        display:false
                    }
                }]},
} %>

<%= bar_chart [
    {name: t("dashboard.charts.info.unlocked"), data:  @unlocked_installments_project_chart},
    {name: t("dashboard.charts.info.locked"), data:  @locked_installments_project_chart},
    {name: t("dashboard.charts.info.rescinded"), data:  @rescinded_installments_project_chart}],
    messages: {empty: "Sorry, there is no corresponding data, please try again"},
    id: "dash_project_bars",
    stacked:true,
    prefix: "$",
    thousands: ",",
    download: true,
    colors: ["#8D81D2","#AE6CB5", "#EA003B"],
    library: {
        tooltips: {
        enabled: true,
        mode: 'index',
        intersect: false
        },
      title: {
        display: true,
        text: t("dashboard.charts.project.title")
      },
      scales: {
        xAxes: [{
                    gridLines: {
                        display:false
                    }
                }],
        yAxes: [{
                    gridLines: {
                        display:false
                    }
                }]},
} %>

<%= bar_chart [
    {name: t("dashboard.charts.info.unlocked"), data:  @unlocked_installments_tag_chart},
    {name: t("dashboard.charts.info.locked"), data:  @locked_installments_tag_chart},
    {name: t("dashboard.charts.info.rescinded"), data:  @rescinded_installments_tag_chart}],
    messages: {empty: "Sorry, there is no corresponding data, please try again"},
    id: "dash_tag_bars",
    stacked:true,
    prefix: "$",
    thousands: ",",
    download: true,
    colors: ["#8D81D2","#AE6CB5", "#EA003B"],
    library: {
        tooltips: {
            enabled: true,
            mode: 'index',
            intersect: false
            },
        title: {
            display: true,
            text: t("dashboard.charts.tag.title")
            },
        scales: {
            xAxes: [{
                gridLines: {
                    display:false
                }
                }],
            yAxes: [{
                gridLines: {
                    display:false
                }
    }]},
} %>

<script>
function openChart(evt, chartName) {
// Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(chartName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
<% end %>

